body{
    font-family: sans-serif;
    background-color: black;
}
#homepagevideo{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: transparent; background-color: rgb(204,153,0); opacity:0.3;
}
header{
    position: fixed;
    top: 0px;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
#decor{
    text-decoration: none;
    font-size:20px ;
    color: white;
    margin: 15px;
}
#decor:hover{
    text-decoration:underline;
}
#decor1{
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: fixed;
}
#decor1:hover{
    text-decoration: underline;
}
#btn{
    text-decoration: none;
    color: white;
    font-size: 19px;
    position: fixed;
    background-color: transparent;
    border-style: double;
    border-color: white;
    border-radius: 5px;
}
#btn:hover{
    background-color: white;
    color: black;
}
#heading{
    font-size: 70px;
    bottom: 90px;
    margin-left: 190px;
    color: white;
    margin-top:30%;
}
#heading1{
    font-size: 70px;
    margin-left: 190px;
    color: white;
}
#btn2{
    margin-left: 240px;
    bottom: 50px;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    border-style: double;
    border-color: white;
    font-size: 130%;
}
#btn2:hover{
    color: black;
    background-color: white;
}
#pause-btn{
    font-size: 20px;
    margin-left: 89%;
    margin-top: -100px;
    color: white;
    background-color: black;
    border-radius: 5px;
    border-style: double;
}
#pause-btn:hover{
    color: rgb(37, 34, 34);
    background-color: white;
}

#secondpart{
    display: 100%;
    color: white;
    display: flex;
    flex-flow: row wrap;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 30px;
}
#decor2{
    color: white;
    font-size: 20px;
}
#decor2:hover{
    text-decoration: none;
}
#updates{
    font-family:playfair display;
    color: white;
    font-size: 50px;
    margin-right: 1050px;
    line-height: 0;
}
#decor3{
    color: white;
    font-size: 20px;
}
#decor3:hover{
    text-decoration: none;
}
#thirdpart{
    display: flex;
    color: white;
}
#head-thirdpart{
    font-size: 20px;
    color: white;
    text-decoration: none;
}
#head-thirdpart:hover{
    text-decoration: underline;
}
#date{
    font-size: 20px;
}
#container{
    display: 100%;
    color: white;
    display: flex;
    flex-flow: row wrap;
}
#decor4{
    color: white;
    line-height: 0.3;
    font-size: 25px;
}
#decor5{
    color: white;
    font-size: 18px;
}
#decor5:hover{
    text-decoration: none;
}
#updates1{
    font-family:playfair display;
    color: white;
    font-size: 50px;
    line-height: 0;
    margin-right: 300px;
}
#updates3{
    color: white;
    font-family: playfair display;
    font-size: 50px;
    line-height: 0;
    margin-right: 650px;
}

#updates4{
    color: white;
    font-family: playfair display;
    font-size: 50px;
    line-height: 0;
    margin-right: 450px;
}
#text{
    color: white;
    line-height: 0.4;
    font-size: 50px;
    font-family: playfair display;
    margin-right: 10%;
}
#text2{
    color: white;
    font-family: playfair display;
    line-height: 0;
    font-size: 75px;
}
#btn3{
    color: white;
    background-color: transparent;
    font-size: 30px;
    border-style: double;
    border-color: white;
    border-radius: 5px;
    align-items: center;
}
#btn3:hover{
    color: black;
    background-color: white;
}
#text3{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
#text3:hover{
    text-decoration: underline;
}
#head2{
    color: white;
    font-weight:bolder;
    line-height: 0;
    font-size: 20px;
}
#foot{
    margin-right: 300px;
}
#foot2{
    color: white;
    font-size:18px;
    text-decoration: none;
}
#foot2:hover{
    text-decoration: underline;
}